<div class="jumbotron" ng-controller="CurrentMedsCtrl as patient">

  <h3>Chief Complaint for {{ patient.demographics.firstName+" "+patient.demographics.lastName+" is  "+patient.chiefComplaint }}</h3>

  <p>Current Medications</p>

  <fs-form-for model="patient">
    <fieldset class="form-horizontal">

	
    </fieldset>


  </fs-form-for>

  <p><a class="btn btn-lg btn-success" ng-href="#/currentmeds">OK<span class="glyphicon"></span></a>
  <a class="btn btn-lg" ng-href="#/demographics">Cancel<span class="glyphicon"></span></a></p>
  
</div>
