<div class="jumbotron" ng-controller="DifferentialDiagCtrl as patient">

  <fs-form-for model="patient">
    <fieldset class="form-horizontal">

	    <fs-input as="fs-checkbox" name="differentialDiagnosis.emergentDiagnoses" label="Emergent Diagnoses" items="emergentDiagnosesList">{{ item.diag }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>

      <fs-input as="fs-checkbox" name="differentialDiagnosis.bacterialPharyngitisCauses" label="Bacterial Pharyngitis Causes" items="bacterialPharyngitisCausesList">{{ item.diag }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>

      <div ng-show="patient.showOther" >
      <fs-input as="fs-checkbox" name="differentialDiagnosis.otherBacterialPathogens" label="Other Bacterial Pathogens" items="otherBacterialPathogensList">{{ item.diag }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

      <fs-input as="fs-checkbox" name="differentialDiagnosis.viralCauses" label="Viral causes" items="viralCausesList">{{ item.diag }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>

      <div ng-show="patient.showOther" >
        <fs-input as="fs-checkbox" name="differentialDiagnosis.otherViralCauses" label="Other Viral Causes" items="otherViralCausesList">{{ item.diag }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

    </fieldset>
  </fs-form-for>

  <p>
  <a class="btn btn-lg btn-info" ng-click="patient.toggleOther()" ng-href="#/differentialdiag">{{patient.buttonLabel}}<span class="glyphicon"></span></a>
  <a class="btn btn-lg btn-info" ng-href="#/physicalexam">OK<span class="glyphicon"></span></a>
  <a class="btn btn-lg" ng-href="#">Cancel<span class="glyphicon"></span></a></p>

  
</div>
