<div class="jumbotron" ng-controller="EducationCtrl as patient">

  <fs-form-for model="patient">
    <fieldset class="form-horizontal">

      <legend>Relevant patient education</legend>
      
      <div ng-show="diffDiagnosisList.length!=0">
      <fs-input as="fs-checkbox" name="education.workingDiagnosis" label="Working Diagnosis" items="diffDiagnosisList">{{ item.item }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

      <div ng-show="labTestList.length!=0">
      <fs-input as="fs-checkbox" name="education.labTests" label="Lab tests" items="labTestList">{{ item.item }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

      <div ng-show="firstLineList.length!=0">
      <fs-input as="fs-checkbox" name="education.firstLine" label="First Line" items="firstLineList">{{ item.item }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

      <div ng-show="secondLineList.length!=0">
      <fs-input as="fs-checkbox" name="education.secondLine" label="Second Line" items="secondLineList">{{ item.item }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

      <div ng-show="systemicTherapyList.length!=0">
      <fs-input as="fs-checkbox" name="education.systemicTherapy" label="Systemic Therapy" items="systemicTherapyList">{{ item.item }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

      <div ng-show="topicalTherapyList.length!=0">
      <fs-input as="fs-checkbox" name="education.topicalTherapy" label="Topical Therapy" items="topicalTherapyList">{{ item.item }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

      <div ng-show="corticosteroidsList.length!=0">
      <fs-input as="fs-checkbox" name="education.corticosteroids" label="Corticosteroids" items="corticosteroidsList">{{ item.item }}<a href="{{item.edu}}" target="_blank"><img src="../images/information-icon.png" alt="info" width="16" height="16"></a></fs-input>
      </div>

    </fieldset>
  </fs-form-for>
  <p><textarea class="form-control" rows="10" ng-model="aftercare.notes"></textarea></p>

  <p>
  <a class="btn btn-lg btn-info" ng-href="#/education">Finalize documentation<span class="glyphicon"></span></a>
  <a class="btn btn-lg" ng-href="#">Cancel<span class="glyphicon"></span></a></p>

</div>
