<div class="jumbotron" ng-controller="PhysicalExamCtrl as patient">

  <h3>Chief Complaint for {{ patient.demographics.firstName+" "+patient.demographics.lastName+" is  "+patient.chiefComplaint }}</h3>

  <h2>Physical Examination</h2>

  <fs-form-for model="patient">
    <fieldset class="form-horizontal">
      <legend>Patient</legend>    

        <div class="form-group">
          <div class="col-xs-6">      
          <fs-input as="text" ng-disabled="true" name="demographics.age" label="Age"></fs-input>
          </div>
        </div>

        <legend>Vital signs</legend>
        <div class="form-group">
          <div class="col-xs-6">
            <fs-input as="text" name="vitals.weight" label="Weight"></fs-input>
          </div>
          <div class="col-xs-6">
            lbs {{ patient.vitals.weight/2.20462262 | number:1 }} kg
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <fs-input as="text" ng-change="patient.updateCentorScore()" name="vitals.temperature" label="Tempe rature"></fs-input>
          </div>
          <div class="col-xs-6">
            ℉ / {{ (patient.vitals.temperature - 32)* 5.0/9.0 | number:1 }} ℃
          </div>
        </div>        

      <legend>Centor score & RST</legend>
      <div class="form-group">
        <div class="col-xs-6">
          <fs-input as="fs-checkbox" ng-change="patient.updateTreatment()" name="centorScore" label="Centor Score" items="centorScoreList">{{ item }}</fs-input>
        </div>
        <div class="col-xs-6">
          <strong>{{"Score: "+patient.centorScore.length}}</strong> <em>{{patient.csConclusion}}</em><p>
        </div>
      </div>
      
      <strong>{{patient.checkRSTNecessity().rstDecision}}</strong> <em>{{patient.checkRSTNecessity().rstReason}}</em><p>

      <div class="form-group">
        <div class="col-xs-6">
          <!--fs-input as="fs-radio" name="rst" label="RST" items="rstList" ng-disabled="patient.checkRSTNecessity().rstDisabled"></fs-input-->
          <fs-input as="fs-select" ng-change="patient.updateRecommendations()" ng-disabled="patient.checkRSTNecessity().rstDisabled" name="testing.rst" items="rstList" label="RST">{{item}}</fs-input>
        </div>
        <div class="col-xs-6">
          <!--strong>{{"Recommendations:"}}</strong-->
        </div>
      </div>

      <legend>Throat culture</legend>

      <strong>{{patient.checkCulture().cultureDecision}}</strong> <em>{{patient.checkCulture().cultureReason}}</em><p>
      <p>
      <legend>Treatment recommendations</legend>

      <strong>{{patient.checkTreatment().treatmentDecision}}</strong> <em>{{patient.checkTreatment().treatmentReason}}</em><p>

      <legend>Symptoms</legend>
      <fs-input as="fs-select" ng-change="patient.loadSymptoms()" name="pe.provisionalDiagnosis"items="diffDiagnosisList" label="Provisional Diagnosis">{{item}}</fs-input>
      <em>{{patient.pe.diagnosisDescription}}</em>
      <div class="form-group">
        <div class="col-xs-6">
          <fs-input as="fs-multiselect" name="pe.symptomsObserved" freetext="" label="Symptoms observed" items="typicalSymptomsList">{{ item }}</fs-input>
        </div>
        <div class="col-xs-6">
          <fs-input as="fs-multiselect" name="pe.symptomsNotObserved" freetext="" label="Symptoms not observed" items="notTypicalSymptomsList">{{ item }}</fs-input>
        </div>
      </div>

    </fieldset>
  </fs-form-for>

  <p>
  <a class="btn btn-lg btn-info" ng-href="#/treatment">Treatment<span class="glyphicon"></span></a>
  <a class="btn btn-lg" ng-href="#/demographics">Cancel<span class="glyphicon"></span></a></p>

  
</div>
